{
    "settings": {
        "version": "detect"
    },
    "env": {
        "node": true,
        "browser": true,
        "es6": true
    },
    "extends": [
        "prettier","eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "arrowFunctions": true,
            "binaryLiterals": true,
            "blockBindings": true,
            "classes": true,
            "defaultParams": true,
            "destructuring": true,
            "forOf": true,
            "generators": true,
            "modules": true,
            "objectLiteralComputedProperties": true,
            "objectLiteralDuplicateProperties": true,
            "objectLiteralShorthandMethods": true,
            "objectLiteralShorthandProperties": true,
            "octalLiterals": true,
            "regexUFlag": true,
            "regexYFlag": true,
            "spread": true,
            "superInFunctions": true,
            "templateStrings": true,
            "unicodeCodePointEscapes": true,
            "globalReturn": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "prettier",
        "simple-import-sort"
    ],
    "rules": {
        "react/react-in-jsx-scope": "off",
        "simple-import-sort/exports": "error",
        "simple-import-sort/imports": "error",
        "prettier/prettier": "error",
        "prefer-const": "error"
    }
}
