{
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "env": {
        "node": true,
        "browser": true,
        "es6": true
    },
    "extends": [
        "prettier","eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },
    "plugins": [
        "react",
        "prettier",
        "simple-import-sort"
    ],
    "rules": {
        "react/jsx-filename-extension": "off",
        "react/react-in-jsx-scope": "off",
        "simple-import-sort/exports": "error",
        "simple-import-sort/imports": "error",
        "prettier/prettier": ["error",{
            "endOfLine": "auto"
        }],
        "no-var": "error",
        "react/prop-types": "off"
    }
}
